.DS_Store
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
node_modules/
/users.json
/jobs*.json
/settings.json
/dist/
/cert.pem
/key.pem
/staff.json
/users Kopie.json
/decryption_key.pem
/encryption_key.pem
/jobs - Kopie.json
/users.bak.json
/jobs.backup*
